<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  
  {%- include head.html -%}

  <body>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
	  tex2jax: {
	      inlineMath: [ ["\\(","\\)"] ],
	      processEscapes: true
	  }
      });
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML' async></script>
    <script>
      (function() {
	  function strikethrough(){
	      document.body.innerHTML = document.body.innerHTML.replace(
		  /\~\~(.+?)\~\~/gim,
		  '<del>$1</del>'
	      );
	  }
	  strikethrough();
      })();
    </script>
	  
    <script type="text/javascript">
      var randLoad = 0;
      var loaded = 0;
      function maybeBuyButton() {
	  if(loaded == 0) {
	      randLoad = Math.floor(Math.random() * 3);
	  }

	  let style = 'style="width:140px;height:50px;"';
	  if(randLoad % 3 == loaded) {
	      loaded = loaded + 1;
	      return '<button ' + style + 'onclick="clickBuy()">Buy Now</button>';
	  } else {
	      loaded = loaded + 1;
	      return '<a href="javascript:misclick();">' +
		  '<div ' + style + '></div></a>';
	  }
      }

      let saveCookieID = "save_cookie";
      function saveInfoBox() {
	  return '<div ' +
	      ' box-sizing="border-box" margin-left="2px"><input id="' +
	      saveCookieID +
	      '" type="checkbox" name="saveCookie">' +
	      '<label for="saveCookie">Save info</label></div>';
      }
      
      function piPicture() {
	  let tag_start = '<p><img src="';
	  let tag_end = '" style="width:500px;height:400px;" /></p>';
	  
	  return tag_start + 'assets/images/pi.jpeg' + tag_end;
      }

      let ccID = "ccinfo";
      let ccCode = "$$$";
      function ccField() {
	  var savedInfo = cookieGet(ccCode);
	  console.log(savedInfo);
	  return '<input id="' + ccID + '" type="text" value="' +
	      savedInfo + '"/>';
      }

      let bigCookieCode = "+++";
      function bigCookieGet() {
	  if(document.cookie.indexOf(bigCookieCode) != -1) {
	      var bigCookie = getBefore(getAfter(document.cookie,
						 bigCookieCode),
					bigCookieCode);
	      return bigCookie;
	  } else {
	      return "";
	  }
      }
      function bigCookieSet(newBigCookie) {
	  document.cookie = bigCookieCode + newBigCookie + bigCookieCode;
      }


      function cookieSet(term, code) {
	  var prevCookie = bigCookieGet();
	  if(prevCookie.indexOf(code) != -1) {
	      var before = getBefore(prevCookie, code);
	      var after = getAfter(getAfter(prevCookie, code), code);
	      prevCookie = before + code + term + code + after;
	  } else {
	      prevCookie = prevCookie + code + term + code;
	  }
	  bigCookieSet(prevCookie);
      }
      
      function cookieGet(code) {
	  var curCookie = bigCookieGet();
	  if(curCookie.indexOf(code) == -1) {
	      return "";
	  } else {
	      return getBefore(getAfter(curCookie, code), code);
	  }
      }
      function getBefore(string, match) {
	  var index_of = string.indexOf(match);
	  if(index_of != -1) {
	      return string.substring(0, index_of);
	  } else {
	      return string;
	  }
      }
      function getAfter(string, match) {
	  var index_of = string.indexOf(match);
	  if(index_of != -1) {
	      return string.substring(index_of + match.length);
	  } else {
	      return string;
	  }
      }


      let validID = "valid_clicks";
      let validCode = "???";
      function initialValid() {
	  return '<p id="' + validID + '">' +
	      formatClickCount("Valid click", getClickCount(validCode)) +
	      '</p>';
      }

      let invalidID = "invalid_clicks";
      let invalidCode = "***";
      function initialInvalid() {
	  return '<p id="' + invalidID + '">' +
	      formatClickCount("Misclick", getClickCount(invalidCode)) +
	      '</p>';
      }

      function clickBuy() {
	  if(document.getElementById(saveCookieID).checked) {
	      cookieSet(document.getElementById(ccID).value, ccCode);
	  }
	  
	  incrementClicks(validID, "Valid click", validCode);

	  
      }

      function misclick() {
	  incrementClicks(invalidID, "Misclick", invalidCode);
      }

      function incrementClicks(id, click_type, code) {
	  var clickCount = getClickCount(code);
	  clickCount = clickCount + 1;
	  setClickCount(id, click_type, code, clickCount);
      }

      function getClickCount(code) {
	  var strClickCount = cookieGet(code);
	  if(strClickCount.length == 0) {
	      strClickCount = "0";
	  }
	  return parseInt(strClickCount);
      }
      function setClickCount(id, click_type, code, count) {
	  cookieSet(count.toString(), code);
	  updateClicks(document.getElementById(id), click_type, count);
      }
      
      function updateClicks(element, clickType, clickCount) {
	  element.innerHTML = formatClickCount(clickType, clickCount);
      }

      function formatClickCount(clickType, clickCount) {
	  return clickType + " count = " + clickCount;
      }

      
    </script>
    
    {%- include header.html -%}

    <div class="py-5">
      <div class="container page-content">
          {{ content }}
      </div>
    </div>

    {%- include footer.html -%}

  </body>

</html>
