<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  
  {%- include head.html -%}

  <body>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
	  tex2jax: {
	      inlineMath: [ ["\\(","\\)"] ],
	      processEscapes: true
	  }
      });
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML' async></script>
    <script>
      (function() {
	  function strikethrough(){
	      document.body.innerHTML = document.body.innerHTML.replace(
		  /\~\~(.+?)\~\~/gim,
		  '<del>$1</del>'
	      );
	  }
	  strikethrough();
      })();
    </script>
	  
    <script type="text/javascript">
      var randLoad = 0;
      var loaded = 0;
      let saveCookieID = "save_cookie";
      function maybeBuyButton() {
	  if(loaded == 0) {
	      randLoad = Math.floor(Math.random() * 3);
	  }

	  let style = 'style="width:180px;height:50px;"';
	  if(randLoad % 3 == loaded) {
	      loaded = loaded + 1;
	      return '<button ' + style + 'onclick="clickBuy()">Buy Now</button>';
	  } else if(randLoad % 3 == loaded - 1) {
	      loaded = loaded + 1;
	      return '<div ' + style + '><input id="' + saveCookieID +
		  '" type="checkbox" name="saveCookie">' +
		  '<label for="saveCookie">Save my payment info</label></div>';
	  } else {
	      loaded = loaded + 1;
	      return '<a href="javascript:misclick();">' +
		  '<div ' + style + '></div></a>';
	  }
      }
      
      function piPicture() {
	  let tag_start = '<p><img src="';
	  let tag_end = '" style="width:500px;height:400px;" /></p>';
	  
	  return tag_start + 'assets/images/pi.jpeg' + tag_end;
      }

      var ccTag = "ccinfo";
      function ccField() {
	  var savedInfo = cookieGet(ccTag);
	  
	  return '<input id="' + ccTag + '" type="text" value="' +
	      savedInfo + '"/>';
      }


      function cookieSet(term, code) {
	  console.log(term + " " + code);
	  if(document.cookie.indexOf(code) != -1) {
	      var before = getBefore(document.cookie, code);
	      var after = getAfter(getAfter(document.cookie, code), code);
	      document.cookie = before + code + term + code + after;
	  } else {
	      console.log("here 1 " + document.cookie);
	      document.cookie = document.cookie + code + term + code;
	      console.log("here 2 " + document.cookie);
	  }
	  console.log("here 3 " + document.cookie);
      }
      function cookieGet(code) {
	  if(document.cookie.indexOf(code) == -1) {
	      return "";
	  } else {
	      return document.getBefore(document.getAfter(document.cookie,
							  code),
					code);
	  }
      }
      function getBefore(string, match) {
	  var index_of = string.indexOf(match);
	  if(index_of != -1) {
	      return string.substring(0, index_of);
	  } else {
	      return string;
	  }
      }
      function getAfter(string, match) {
	  var index_of = string.indexOf(match);
	  if(index_of != -1) {
	      return string.substring(index_of + match.length);
	  } else {
	      return string;
	  }
      }


      let validID = "valid_clicks";
      let validCode = "???";
      function initialValid() {
	  return '<p id="' + validID + '">' +
	      formatClickCount("Valid click", getClickCount(validCode)) +
	      '</p>';
      }

      let invalidID = "invalid_clicks";
      let invalidCode = "***";
      function initialInvalid() {
	  return '<p id="' + invalidID + '">' +
	      formatClickCount("Misclick", getClickCount(invalidCode)) +
	      '</p>';
      }


      
      let ccCode = "$$$";
      function clickBuy() {
	  cookieSet(document.getElementById(ccTag).value, ccCode);
	  incrementClicks(validID, "Valid click", validCode);
      }

      function misclick() {
	  incrementClicks(invalidID, "Misclick", invalidCode);
      }

      function incrementClicks(id, click_type, code) {
	  var clickCount = getClickCount(code);
	  clickCount = clickCount + 1;
	  setClickCount(id, click_type, code, clickCount);
      }

      function getClickCount(code) {
	  var strClickCount = cookieGet(code);
	  if(strClickCount.length == 0) {
	      strClickCount = "0";
	  }
	  return parseInt(strClickCount);
      }
      function setClickCount(id, click_type, code, count) {
	  cookieSet(count.toString(), code);
	  updateClicks(document.getElementById(id), click_type, count);
      }
      
      function updateClicks(element, clickType, clickCount) {
	  element.innerHTML = formatClickCount(clickType, clickCount);
      }

      function formatClickCount(clickType, clickCount) {
	  return clickType + " count = " + clickCount;
      }

      
    </script>
    
    {%- include header.html -%}

    <div class="py-5">
      <div class="container page-content">
          {{ content }}
      </div>
    </div>

    {%- include footer.html -%}

  </body>

</html>
