<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  
  {%- include head.html -%}

  <body>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
	  tex2jax: {
	      inlineMath: [ ["\\(","\\)"] ],
	      processEscapes: true
	  }
      });
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML' async></script>
    <script>
      (function() {
	  function strikethrough(){
	      document.body.innerHTML = document.body.innerHTML.replace(
		  /\~\~(.+?)\~\~/gim,
		  '<del>$1</del>'
	      );
	  }
	  strikethrough();
      })();
    </script>
	  
    <script type="text/javascript">
      
      //Every third call, load the actual button. Otherwise, load a
      //blank div tag that triggers a counter function when clicked.
      var randLoad = 0;
      var loaded = 0;
      function maybeBuyButton() {
	  if(loaded == 0) {
	      randLoad = Math.floor(Math.random() * 3);
	  }

	  let style = 'style="width:140px;height:50px;"';
	  if(randLoad % 3 == loaded) {
	      loaded = loaded + 1;
	      return '<button ' + style + 'onclick="clickBuy()">Buy Now</button>';
	  } else {
	      loaded = loaded + 1;
	      return '<a href="javascript:misclick();">' +
		  '<div ' + style + '></div></a>';
	  }
      }

      //Returns code for displaying a checkbox used for saving the
      //user information.
      let saveCookieID = "save_cookie";
      function saveInfoBox() {
	  return '<div ' +
	      ' box-sizing="border-box" margin-left="2px"><input id="' +
	      saveCookieID +
	      '" type="checkbox" name="saveCookie">' +
	      '<label for="saveCookie">Save info</label></div>';
      }

      //Returns code for loading a picture of a Raspberry Pi from the
      //assets/images folder.
      function piPicture() {
	  let tag_start = '<p><img src="';
	  let tag_end = '" style="width:500px;height:400px;" /></p>';
	  
	  return tag_start + 'assets/images/pi.jpeg' + tag_end;
      }

      //An input box for entering user information.
      let ccID = "ccinfo";
      let ccCode = "$$$";
      function ccField() {
	  var savedInfo = cookieGet(ccCode);
	  console.log(savedInfo);
	  return '<input id="' + ccID + '" type="text" value="' +
	      savedInfo + '"/>';
      }

      //As the cookie is just a single string, the internal cookies
      //system is implemented into string functions. This simply returns
      //the larger string into which the logic of a searchable table is
      //implemented.
      let bigCookieCode = "+++";
      function bigCookieGet() {
	  if(document.cookie.indexOf(bigCookieCode) != -1) {
	      var bigCookie = getBefore(getAfter(document.cookie,
						 bigCookieCode),
					bigCookieCode);
	      return bigCookie;
	  } else {
	      return "";
	  }
      }

      //This allows changes to the searchable table to be saved as a
      //string into the browser cookies.
      function bigCookieSet(newBigCookie) {
	  document.cookie = bigCookieCode + newBigCookie + bigCookieCode;
      }


      //Sets a value in the searchable table, which can be retrieved
      //later with "code"
      function cookieSet(term, code) {
	  var prevCookie = bigCookieGet();
	  if(prevCookie.indexOf(code) != -1) {
	      var before = getBefore(prevCookie, code);
	      var after = getAfter(getAfter(prevCookie, code), code);
	      prevCookie = before + code + term + code + after;
	  } else {
	      prevCookie = prevCookie + code + term + code;
	  }
	  bigCookieSet(prevCookie);
      }

      //Returns the term entered into the searchable table with "code".
      function cookieGet(code) {
	  var curCookie = bigCookieGet();
	  if(curCookie.indexOf(code) == -1) {
	      return "";
	  } else {
	      return getBefore(getAfter(curCookie, code), code);
	  }
      }

      //Gets the part of string before the first appearance of "match".
      //Helps in implementing a searchable table out of the cookies string.
      function getBefore(string, match) {
	  var index_of = string.indexOf(match);
	  if(index_of != -1) {
	      return string.substring(0, index_of);
	  } else {
	      return string;
	  }
      }

      //Gets the part of string after the first appearance of "match".
      //Helps in implementing a searchable table out of the cookies string.
      function getAfter(string, match) {
	  var index_of = string.indexOf(match);
	  if(index_of != -1) {
	      return string.substring(index_of + match.length);
	  } else {
	      return string;
	  }
      }


      //Gets the number of valid clicks stored into cookies. Returns
      //it as a web element.
      let validID = "valid_clicks";
      let validCode = "???";
      function initialValid() {
	  return '<p id="' + validID + '">' +
	      formatClickCount("Valid click", getClickCount(validCode)) +
	      '</p>';
      }

      //Gets the number of invalid clicks stored into cookies. Returns
      //it as a web element.
      let invalidID = "invalid_clicks";
      let invalidCode = "***";
      function initialInvalid() {
	  return '<p id="' + invalidID + '">' +
	      formatClickCount("Misclick", getClickCount(invalidCode)) +
	      '</p>';
      }

      //Returns a web element for displaying the recent purchases.
      let purchase_count_id = "purchase_count_id";
      function recentPurchases() {
	  var purchase_count = getClickCount(validCode);
	  if(purchase_count == 0) {
	      return '<p id="' + purchase_count_id +
		  '">No purchases made.</p>';
	  } else {
	      return '<p id="' + purchase_count_id +
		  '">Raspberry Pi... Qty. ' +
		  purchase_count.toString() +
		  '</p>';
	  }
      }

      //Updates click counts and saved user information after the buy button
      //is clicked.
      function clickBuy() {
	  if(document.getElementById(saveCookieID).checked) {
	      cookieSet(document.getElementById(ccID).value, ccCode);
	  }
	  
	  incrementClicks(validID, "Valid click", validCode);
	  var purchase_count = getClickCount(validCode);
	  document.getElementById(purchase_count_id).innerHTML =
	      "Raspberry Pi... Qty. " +
		  purchase_count.toString();
      }

      //Updates the invalid click count and page information after the
      //blank spots next to the buy button are clicked.
      function misclick() {
	  incrementClicks(invalidID, "Misclick", invalidCode);
      }

      //Increments either the valid or invalid click count in cookies.
      function incrementClicks(id, click_type, code) {
	  var clickCount = getClickCount(code);
	  clickCount = clickCount + 1;
	  setClickCount(id, click_type, code, clickCount);
      }

      //Retrieves the invalid or valid click counts.
      function getClickCount(code) {
	  var strClickCount = cookieGet(code);
	  if(strClickCount.length == 0) {
	      strClickCount = "0";
	  }
	  return parseInt(strClickCount);
      }

      //Directly sets the click count of the specified type in cookies.
      function setClickCount(id, click_type, code, count) {
	  cookieSet(count.toString(), code);
	  updateClicks(document.getElementById(id), click_type, count);
      }

      //Updates the given click count displaying web element with the
      //specified click type (valid or invalid).
      function updateClicks(element, clickType, clickCount) {
	  element.innerHTML = formatClickCount(clickType, clickCount);
      }
      
      //Formats the text in the click count displaying web element.
      function formatClickCount(clickType, clickCount) {
	  return clickType + " count = " + clickCount;
      }

      
    </script>
    
    {%- include header.html -%}

    <div class="py-5">
      <div class="container page-content">
          {{ content }}
      </div>
    </div>

    {%- include footer.html -%}

  </body>

</html>
