---
layout: default
---
<article>

  <div class="container">
    <script type="text/javascript">
      document.write(piPicture());
    </script>
    <h2>Just as small. Five times as fast.</h2>
    <p>At the heart of Raspberry Pi Zero 2 W is RP3A0, a custom-built system-in-package designed by Raspberry Pi in the UK. With a quad-core 64-bit ARM Cortex-A53 processor clocked at 1GHz and 512MB of SDRAM, Zero 2 is up to five times as fast as the original Raspberry Pi Zero.</p>
    <p>Wireless LAN is built in to a shielded enclosure with improved RF compliance, giving you more flexibility when designing with Raspberry Pi Zero 2 W.</p>
    <p>All in the same tiny 65mm × 30mm form factor.</p>
    <!---Text copied from https://www.raspberrypi.com/products/raspberry-pi-zero-2-w/--->

    <br>
    <br>
    <br>
    <p>PAYMENT INFORMATION: (Saved through cookies)</p>
    <script type="text/javascript">
      document.write(ccField());
    </script>
    <br>
    <br>
    <script type="text/javascript">
      document.write(
	  '<div class="row"><div class="column">' +
	      maybeBuyButton() +
	      '</div><div class="column">' +
	      maybeBuyButton() +
	      '</div><div class="column">' +
	      maybeBuyButton() +
	      '</div></div>'
      );
      </script>
</div>
  <section>
    {{ content }}
  </section>

</article>
