---
layout: default
---
<article>

  <div class="container">
    <script type="text/javascript">
      document.write(piPicture());
    </script>
    <script type="text/javascript">
      document.write(
	  '<div class="row"><div class="column">' +
	      maybeBuyButton() +
	      '</div><div class="column">' +
	      maybeBuyButton() +
	      '</div><div class="column">' +
	      maybeBuyButton() +
	      '</div></div>'
      );
      /*document.write(maybeBuyButton());
	document.write(maybeBuyButton());
	document.write(maybeBuyButton());*/
	</script>
</div>
  <section>
    {{ content }}
  </section>

</article>
